<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Drawing app</title>
</head>

<body>
    <section class="container">
        <div id="New game">
            <h1>Consequential</h1>
            <form action="/join_game" method="post">
                <label for="uname">Name:</label><br>
                    <input type="text" id="uname" name="uname" value="John"><br>
                <label for="gid">Game ID:</label><br>
                    <input type="text" id="gid" name="gid" value="1234"><br><br>
                <input type="submit" value="Join Game">
            </form>
        </div>
    </section>
</body>
</html>